@CHARSET "ISO-8859-1";

html, body {
	margin: 0;
	height: 100%;
}

#adminHeader {
	
}

#menuBar {
	
}

#messages-container {
	
}

#footer-container {
	
}

.centerPage {
	position: absolute;
	height: 100px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 50%;
	margin-left: -100px;
	width: 200px;
}

#side-bar {
	float: left !important;
	width: 32%;
	height: 1000px
}

#content-container {
	float: left !important;
	height: 1000px;
	width: 68%;
}

#centerText {
	text-align: center;
}

.baseGrid.ui-panelgrid>*>tr, .baseGrid.ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

.ui-outputlabel {
	padding-right: 10px;
}