@CHARSET "ISO-8859-1";

#side-bar {
	float: left !important;
	width: 0% !important;
}

#content-container {
	float: left !important;
	height: 1000px;
	width: 100% !important;
}

.ui-picklist .ui-picklist-list {
	height: 600px !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 4px!important;
}